.label {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .bookmark {
    margin: 24px;
  }
}

@media (max-width: 620px) {
  .bookmark {
    margin: 16px;
  }
}
