.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 960px;
  background: #161d2f;
  border-radius: 20px;
  padding: 30px 30px;
  margin: 32px;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  margin-bottom: 40px;
  cursor: pointer;
}

.logoActive {
  fill: white;
}
