form {
  width: 90%;
}
.searchBar {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.searchBar img {
  margin-top: 4px;
}

.searchBar input {
  width: 97%;
  font-family: "outfit", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  background: transparent;
  border: none;
  outline: none;
  padding-bottom: 1rem;
  padding-right: 300px;
}

input:focus + .border,
.expand:focus .border {
  transform: scaleX(1);
}

.searchInput {
  width: 97%;
}

.searchBar .border {
  position: relative;
  height: 1px;
  width: 97%;
  background: #5a698f;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: 0% 50%;
}

.searchBar input::placeholder {
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
