form {
  width: 100%;
  margin: 4rem 2rem 2rem 0;
}
.searchBar {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.searchBar img {
  margin-top: 4px;
}

.searchBar input {
  width: 100%;
  font-family: "outfit", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  background: transparent;
  border: none;
  outline: none;
  padding-bottom: 1rem;
}

.searchBar input:focus {
  border-bottom: 1px solid #5a698f;
}

.searchBar input::placeholder {
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
