@font-face {
  font-family: "outfit";
  src: url(./Components/assets/fonts/Outfit-VariableFont_wght.ttf);
}

body {
  font-family: "outfit", sans-serif;
  margin: 0;
  overflow-x: hidden;
  background: #10141e;
}

path:hover {
  fill: #fc4747;
}
