.background {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;
  min-height: 230px;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  display: flex;
  margin-right: 40px;
}

@media (min-width: 620px) {
  .background:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .background:hover .playDiv {
    visibility: visible;
  }

  .playDiv {
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 90%;
    align-self: center;
  }
}

.bookmark {
  align-self: flex-start;
  background: #10141e;
  mix-blend-mode: normal;
  opacity: 0.5;
  border: none;
  padding: 10px;
  border-radius: 100%;
}

@media (max-width: 620px) {
  .background {
    min-height: 140px;
    margin-right: 16px;
  }

  .playDiv {
    display: none;
  }
}
