.background {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;
  width: 84%;
  min-height: 240px;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.background:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.bookmark {
  align-self: flex-start;
  background: #10141e;
  mix-blend-mode: normal;
  opacity: 0.5;
  border: none;
  padding: 10px;
  border-radius: 100%;
}

.background:hover .playDiv {
  visibility: visible;
}

.playDiv {
  visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;

  align-self: center;
}
